<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header") %>
  <body
    style="background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%)"
  >
    <%- include("partials/nav") %> <% if (user) { %>
    <div id="home">
      <div>
        <h2 class="title"><%= event.title %></h2>
        <p class="copy"><%= event.date %> | <%= event.time %></p>
        <p class="copy"><%= event.location %></p>
        <p class="copy"><%= event.pricing %></p>
      </div>
      <div>
        <img src="<%= event.poster %>" alt="" />

        <a href="/register/<%= event.UEID %>">Register</a>
        <!-- <form class="button" action="/register" method="post">
          <button type="submit">Register</button>
        </form> -->
      </div>
    </div>
    <div>
      <h2>Terms and Conditions</h2>
      <p class="copy"><%= event.Terms %></p>
    </div>
    <% } else { %>
    <div id="home">
      <div>
        <h2 class="title">Error</h2>
        <p class="copy">Something went Wrong</p>
      </div>
      <div>
        <img src="/Images/404.svg" alt="" />
      </div>
    </div>
    <% } %>
  </body>
</html>